@font-face{
    font-family: 'meesang';
    src: url('/static/fonts/SDMiSaeng.ttf');
    font-weight: normal;
    font-size: x-large;
}
@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cafe24Oneprettynight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    font-family: 'Cafe24Oneprettynight';
}
body {
    background: url('/static/images/background_img.jpg');
    background-size: cover;
    /* font-family: 'Cafe24Oneprettynight'; */
}
header {
    position: sticky;
    top: 0px;
}
.navbar-custom {
    background-color: #C4BEE2;
    font-family: 'Cafe24Oneprettynight';
    font-size: large;
}
.search-bar {
    position: relative;
    width: 600px;
}
.search-input {
    width: 100%;
    border: 1px solid #bbb;
    border-radius: 5px;
    padding: 10px 12px;
}
.search-input::placeholder{
    font-weight: bold;
}
.submit-btn {
    position: absolute;
    right: 0px;
    top: 7px;
}
.nav-links {
    margin-left: 30px;
    margin-right: 30px;
}
.nav-logout{
    border: 1px solid #C4BEE2;
    background-color: #C4BEE2;
    box-shadow: 0px 0px 30px #6f5f90;
    padding: 7px;
    margin-left: 5px;
}
.nav-logout:hover{
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #6f5f90;
    text-decoration-thickness: 2px;
    text-underline-offset: 10px;
}
.nav-mypage{
    border: 1px solid #C4BEE2;
    background-color: #C4BEE2;
    box-shadow: 0px 0px 30px #6f5f90;
    padding: 7px;
    margin-right: 5px;
}
.nav-mypage:hover{
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #6f5f90;
    text-decoration-thickness: 2px;
    text-underline-offset: 10px;
}
.nav-user {
    border: none;
    background-color: #C4BEE2;
    margin-right: 3rem;
}