@font-face{
    font-family: 'meesang';
    src: url('/static/fonts/SDMiSaeng.ttf');
    font-weight: normal;
    font-size: x-large;
}
@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cafe24Oneprettynight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    font-family: 'Cafe24Oneprettynight';
}
body {
    background: url('/static/image/background_img.jpg');
    background-size: cover;
    /* font-family: 'Cafe24Oneprettynight'; */
}
.navbar-custom {
    background-color: #C4BEE2;
    font-family: 'Cafe24Oneprettynight';
    font-size: large;
}
.search-bar {
    position: relative;
    width: 600px;
}
.search-input {
    width: 100%;
    border: 1px solid #bbb;
    border-radius: 5px;
    padding: 10px 12px;
    font-size: 14px;
}
.submit-btn {
    position: absolute;
    right: 0px;
}
.nav-links {
    margin-left: 30px;
    margin-right: 30px;
}
.nav-logout{
    border: 1px solid #bbb;
    padding: 7px;
    margin-left: 5px;
}
.nav-mypage{
    border: 1px solid #bbb;
    padding: 7px;
    margin-right: 5px;
}