.form-div{
    background-color: bisque;
    border-radius: 50px;
}
.wrapper {
    min-height: 90vh;
}
.create-btn {
    background-color: #6f5f90 !important;
    color: #ffffff !important;
    width: 100%;
}
.create-btn:hover {
    background: url('/static/images/background_img.jpg') !important;
    font-weight: bold;
    /* background-color: beige !important; */
}