.article {
    cursor:pointer;
    color: black; 
    /* border: 1px solid #958f93; */
    border-radius: 5px;
    background-color: #958f93;
    width: 50%;
    height: auto;
}
.article:hover{
    background: rgba(149, 143, 147, 0.7);
}
.diary-title{
    color: white;
    text-decoration: none;
}
.create-btn {
    background-color: #c4bee2;
    border: 0px;
    border-radius: 10px;
    /* font-weight: bold; */
    /* box-shadow: 0px 0px 30px #c4bee2; */
}
.create-btn:hover{
    box-shadow: 0px 0px 30px #c4bee2;
    font-weight: bold;
}
.thumbnail{
    /* border: 1px solid white !important; */
    border-radius: 10px !important;
    width: 150px;
    height: 180px;
}
.index-content {
    font-size: 1em;
}
.no-article-div{
    min-height: 60vh;
}
.no-article {
    color: white;
    /* min-height: 50vh; */
}
.article-header {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
}
.article-header h6 {
    margin: 0;
}