{% load static %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>오늘의 일기</title>
    <link rel="icon" href="{% static 'image/favicon.png' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
  </head>

  <body>
    <div class="wrapper d-flex justify-content-center align-items-center">
      <div class="form-div w-50 p-4">
        <h1 class="form-title text-center my-5">Today's Diary</h1>
        <form class="login-form m-auto" action="" method="POST" style="width:40%; padding:30px">
          <p class="greetings text-center">다시 돌아오신 걸 환영해요🖐️</p>
          {% csrf_token %}
          {% bootstrap_form form %}
          {% bootstrap_button button_type="submit" button_class="login-btn container" content="🔒로그인"%}
          {% comment %} <div class="text-center">
            <input class="login-btn text-center mt-4" type="submit" value="🔒로그인">
          </div> {% endcomment %}
          <div class="d-flex justify-content-end">
            <a class="text-decoration-none mt-3 link-dark" href="{% url 'accounts:signup' %}">회원가입</a>
          </div>
        </form>
      </div>
    </div>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </body>

</html>
