{% load static %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>오늘의 일기</title>
    <link rel="icon" href="{% static 'images/favicon.png' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
  </head>

  <body>
    <div class="container my-5">
      <h1 class="form-title text-center my-5">Today's Diary</h1>
      <form class="signup-form m-auto" action="" enctype="multipart/form-data" method="POST" style="width:40%; padding:30px">
        {% csrf_token %}
        {% comment %} {% for field in form %}
          {{ field.errors }}
          <div class="form-group">
            <label for="{{ field.html_name }}">{{ field.label }}</label>
            {{ field }}
          </div>
        {% endfor %} {% endcomment %}
        {% bootstrap_form form %}
        {% bootstrap_button button_type="submit" button_class="signup-btn container" content="회원가입" %}
      </form>
    </div>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </body>

</html>
