{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block content %}
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <div class="d-flex mx-5 mt-4 justify-content-between">
    <h3 class="diary-title">🌙누군가의 일기</h3>
    <h5 class="mt-1">
      <a href="#" class="diary-title">🔥지금 HOT한 일기</a>
    </h5>
  </div>
  <div class="container">
    <div class="row">

      {% if random_articles == False %}

        <div class="no-article-div d-flex flex-column align-items-center justify-content-center">
          <img src="{% static 'images/sorry_img.png' %}" alt="">
          <h3 class="no-article">지금은 표시할 게시물이 없어요...</h3>
        </div>

      {% else %}

        <div class="container">
          <div class="d-flex justify-content-center">
            {% for diary in random_articles %}
              <div class="article col-md-3 m-3" onclick="location.href='{% url 'articles:detail' diary.pk %}'">
                {% if diary.image.url != '' %}
                  <div class="text-center p-3">
                    <img class="thumbnail" src="{{ diary.image.url }}" alt="{{ diary.image }}">
                  </div>
                {% else %}
                  <div class="text-center p-3">
                    <img class="thumbnail" src="{% static 'images/sorry_img.png' %}" alt="dummy_img">
                  </div>
                {% endif %}
                <div class="px-3">
                  <div class="article-header d-flex justify-content-evenly">
                    <h6 class="article-pk p-1">📄No:
                      {{ diary.pk }}</h6>
                    {% comment %} <h6></h6> {% endcomment %}
                    <h6 class="article-hits p-1">👀조회수:
                      {{ diary.hits }}</h6>
                    <h6 class="article-comments p-1">🗨️{{ diary.comment }}개</h6>
                  </div>
                    <p class="mt-2">✏️제목:
                      {{ diary.title | truncatechars:20 }}</p>
                    <p class="index-content">
                      📄글내용:
                      {{ diary.content | truncatechars:20 | striptags }}
                    </p>
                    <p class="">📅작성일자:
                      {{ diary.created_date | timesince }}
                      전
                    </p>
                    <p class="">📆수정일자:
                      {{ diary.updated_date | timesince }}
                      전
                    </p>
                    <p class="">🏷️해시태그:
                      {{ diary.hashtag |truncatechars:15}}</p>
                    <p class="text-end">👍{{ diary.likes }}&nbsp;😍{{ diary.hearts }}&nbsp;🤣{{ diary.funny }}&nbsp;😢{{ diary.sad }}</p>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}

    </div>
  </div>
  <div class="text-center my-5">
    <button class="create-btn p-3" onclick="location.href='{% url 'articles:create_diary' %}';">✍️일기 쓰러가기</button>
  </div>
{% endblock content %}
